.dashboard {
  width: 100%;
  height: 100vh;
  padding: 20px;
  border-right: 1px #38444d solid;
}

.profilePic {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

.perInfo {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  margin-right: 5px;
  color: white;
}

.top {
  border: 2px solid white;
  height: 80px;
  width: 100%;

  padding: 3px 10px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-weight: bold;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 8px;

  color: #ffff;
}

.middle {
  color: #ffff;
  height: 50px;
  border: 2px solid white;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  gap: 20px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 8px;
}
.bottom {
  color: #ffff;
  height: 50px;
  border: 2px solid white;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  gap: 20px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 8px;
}
